{% extends "base.html" %}

{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
<!--  <div class="hero-body" style="padding-top: 20px">-->
<!--    <div>-->
<!--      <h2>Donate now</h2>-->
<!--      {% if not user.active %}-->
<!--      <form action="/charge" method="post">-->
<!--        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ user.key }}"-->
<!--          data-description="Resume Scanner Donation" data-amount="1000" data-locale="auto">-->
<!--          </script>-->
<!--      </form>-->
<!--      {% endif %}-->
<!--      {% if user.active %}-->
<!--      <div><span>Thanks for your donation</span></div>-->
<!--      {% endif %}-->
<!--    </div>-->
<!--    <div>-->
<!--      {% if user.active %}-->
      <center>
      <form id="upload-file" method="post" enctype="multipart/form-data">
          <div class="textbox">
              <p>Job Description</p>
              <textarea id="job_desc" name="job_desc" cols="70" rows="20" required></textarea>
          </div>
          <div class="textbox">
              <p>Resume</p>
              <textarea id="resume" name="resume" cols="70" rows="20" required></textarea>
          </div>
      </form>
<!--      </center>-->
<!--      {% endif %}-->
<!--      {% if not user.active %}-->
<!--      <div><span>Kindly donate to keep this alive</span></div>-->
<!--      {% endif %}-->
      <div class="image-section" style="display:none;">
        <span></span><span></span>
        <div>
          <center><button type="button" class="upload-label" id="btn-predict">Calculate Similarity</button></center>
        </div>
      </div>
<!--    <center>-->
    <div class="loader" style="display:none;"></div>
    <h1 id="result"> </h1>
          <br>
    </center>
<!--    <center>-->
<!--    <div style="padding-top: 10%; display:block;">-->
<!--      <span>Upload xlsx file, column name as below:</span>-->
<!--    </div>-->
<!--    <img style="border-radius:10px;" src="../static/img/example.jpg">-->
<!--        <br>-->
<!--        <br>-->
<!--  </center>-->
</section>
{% endblock %}

{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}